nav {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-logo {
  margin-left: 20px;
}

nav ul li a {
  padding: 0 15px;
}

nav ul li a:hover {
  background-color: #1976d2; /* Darker shade of blue */
}

.sidenav-trigger i {
  color: hsl(0, 0%, 100%); /* White color for the menu icon */
}

/* Adjust styles for mobile */
@media only screen and (max-width: 992px) {
  nav ul li a {
    padding: 15px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}